.profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px !important;
  height: 32px !important;
  background-color: transparent;
  img {
    width: 32px;
    height: 32px;
  }
}
