@import "../../style/variables";

.left-sidebar {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 140px !important;
  background-color: $dark-6-white !important;
}

.dashboard-content {
  padding: 32px !important;
}
