// external properties
.border-properties {
  border-style: solid;
}
.border-bottom {
  @extend .border-properties;
  border-bottom-width: 1px;
}

.border-right {
  @extend .border-properties;
  border-right-width: 1px;
}

/* Layout */
/* -------------------------------- Row -------------------------------- */
.row {
  display: flex;
  flex-direction: row;
}

/* -------------------------------- Col -------------------------------- */
.col {
  display: flex;
  flex-direction: column;
}

/* -------------------------------- Padding -------------------------------- */
.p-0 {
  padding: 0px;
}
// 5
.p-5 {
  padding: 5px;
}

.pt-8 {
  padding-top: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

// 14
.pl-14 {
  padding-left: 14px;
}

.pr-14 {
  padding-right: 14px;
}

// 23
.pt-23 {
  padding-top: 23px;
}

// 24
.p-24 {
  padding: 24px;
}

.pt-24 {
  padding-top: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

// 32
.p-32 {
  padding: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pl-32 {
  padding-left: 32px;
}

.pr-32 {
  padding-right: 32px;
}

// 36
.pt-36 {
  padding-top: 36px;
}

/* -------------------------------- Margin -------------------------------- */
.m-0 {
  margin: 0px;
}
// 8
.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

// 12
.ml-12 {
  margin-left: 12px;
}

.mr-12 {
  margin-right: 12px;
}

// 14
.ml-14 {
  margin-left: 14px;
}

.mr-14 {
  margin-right: 14px;
}

// 24
.ml-24 {
  margin-left: 24px;
}

.mr-24 {
  margin-right: 24px;
}

// 32
.ml-32 {
  margin-left: 32px;
}

.mr-32 {
  margin-right: 32px;
}

/* -------------------------------- Font Style -------------------------------- */

.underline {
  text-decoration-line: underline !important;
}

/* -------------------------------- Justify -------------------------------- */

.w-100 {
  width: 100%;
}

.align-items-center {
  display: flex;
  align-items: center;
}

// content alignment
.justify-content-between {
  display: flex;
  justify-content: space-between;
}
