// external properties
.border-properties {
  border-style: solid;
}
.border-bottom {
  @extend .border-properties;
  border-bottom-width: 1px;
}

.border-right {
  @extend .border-properties;
  border-right-width: 1px;
}

/* Layout */
/* -------------------------------- Row -------------------------------- */
.row {
  display: flex;
  flex-direction: row;
}

/* -------------------------------- Col -------------------------------- */
.col {
  display: flex;
  flex-direction: column;
}

/* -------------------------------- Padding -------------------------------- */
.p-0 {
  padding: 0px;
}
// 5
.p-5 {
  padding: 5px;
}
.pt-8 {
  padding-top: 8px;
}
.pb-8 {
  padding-bottom: 8px;
}

// 14
.pl-14 {
  padding-left: 14px;
}
.pt-14 {
  padding-top: 14px;
}
.pr-14 {
  padding-right: 14px;
}
.pb-14 {
  padding-bottom: 14px;
}

// 16
.pl-16 {
  padding-left: 16px;
}
.pt-16 {
  padding-top: 16px;
}
.pr-16 {
  padding-right: 16px;
}
.pb-16 {
  padding-bottom: 16px;
}

// 20
.pl-20 {
  padding-left: 20px;
}
.pr-20 {
  padding-right: 20px;
}

// 23
.pt-23 {
  padding-top: 23px;
}

// 24
.p-24 {
  padding: 24px;
}
.pt-24 {
  padding-top: 24px;
}
.pb-24 {
  padding-bottom: 24px;
}
//28

.pl-28 {
  padding-left: 28px;
}
.pr-28 {
  padding-right: 28px;
}

// 32
.p-32 {
  padding: 32px;
}
.pt-32 {
  padding-top: 32px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pl-32 {
  padding-left: 32px;
}
.pr-32 {
  padding-right: 32px;
}

// 36
.pt-36 {
  padding-top: 36px;
}

// 40
.pl-40 {
  padding-left: 40px;
}
.pr-40 {
  padding-right: 40px;
}

/* -------------------------------- Margin -------------------------------- */
.m-0 {
  margin: 0px;
}

//6
// 8

.ml-6 {
  margin-left: 6px;
}
.mr-6 {
  margin-right: 6px;
}

// 8
.ml-8 {
  margin-left: 8px;
}
.mt-8 {
  margin-top: 8px;
}
.mr-8 {
  margin-right: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}

// 12
.ml-12 {
  margin-left: 12px;
}
.mr-12 {
  margin-right: 12px;
}

// 14
.ml-14 {
  margin-left: 14px;
}
.mr-14 {
  margin-right: 14px;
}

// 16
.mt-16 {
  margin-top: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}

// 24
.ml-24 {
  margin-left: 24px;
}
.mr-24 {
  margin-right: 24px;
}

// 32
.ml-32 {
  margin-left: 32px;
}
.mr-32 {
  margin-right: 32px;
}

/* -------------------------------- Font Style -------------------------------- */

.underline {
  text-decoration-line: underline !important;
}

/* -------------------------------- .Width -------------------------------- */

.w-100 {
  width: 100%;
}

// w-117
.wm-117 {
  min-width: 117px;
}

.wm-240 {
  min-width: 240px;
}

/* -------------------------------- .height -------------------------------- */

.h-100 {
  width: 100%;
}

.h-40 {
  height: 40px;
}

// 56
.h-56 {
  height: 56px;
}

/* -------------------------------- Justify -------------------------------- */

.align-items-center {
  display: flex;
  align-items: center;
}

// content alignment
.justify-content-between {
  display: flex;
  justify-content: space-between;
}
