$primary-color: #775da6;
$primary-color-light: #eeebf4; // use primary color as light background

$secondary-color: #70b6c1;
$secondary-color-light: #abdfe7;

// Additional color
$dark-pink: #f9837c;
$light-pink: #ffb1b7;
$golden-nectar: #ffd86c;

// Logo
$dark-0-dark: #2e2c34;
$shape-icon: #898989;
//  Dark
$dark-1-dark: #202020;
$dark-2-dark: #484848;
$dark-3-dark: #818181;
$dark-5-dark: #f9f9f9;
$dark-6-dark: #898989;

$dark-6-white: #fff;
$white: #f5f5f5;
$line-1-line: #dcdcdc;

:export {
  primaryColor: $primary-color;
}

/* Shadow/1-Shadow */
$box-shadow-1: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);

/* -------------------------------- Text Color -------------------------------- */
.primary-color {
  color: $primary-color;
}
.bg-primary-color {
  background: $primary-color;
}

.dark-1-dark {
  color: $dark-1-dark;
}
.dark-2-dark {
  color: $dark-2-dark;
}
.dark-3-dark {
  color: $dark-3-dark;
}

.bg-dark-5-dark {
  background: $dark-5-dark;
}

.secondary-color {
  color: $secondary-color !important;
}
/* -------------------------------- line -------------------------------- */

// Text underline
.underline-default {
  text-decoration-color: $line-1-line !important;
}
