@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./typography";
@import "./variables";
@import "./utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}
//  Elements
.search-input {
  border-radius: 8px;
  border: 1px solid var(--form-borders-normal-1, $line-1-line);
  color: $dark-3-dark;
  background: $dark-5-dark;
}

/* --------------------------------  Mouse cursor Properties-------------------------------- */

.cursor-pointer {
  cursor: pointer;
}

/* --------------------------------  Icon Properties-------------------------------- */
.icon-properties {
  color: $shape-icon !important;
}

// used in sidebar navigation
.large-icon {
  @extend .icon-properties;
  font-size: 22px !important;
}

// x large icon
.x-large-icon {
  @extend .icon-properties;
  font-size: 24px !important;
}

// Common styles
.border {
  border-radius: 8px !important;
  border: 1px solid var(--form-borders-normal-1, $line-1-line);
}

// Existing Antd Component Common Styles

// Next JS Link Button
a.njs-link {
  @extend .paragraph1;
  color: $dark-6-dark;
}
.njs-link:hover {
  color: $primary-color;
}
