@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./typography";
@import "./variables";
@import "./utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.icon-properties {
  color: $shape-icon !important;
}

// used in sidebar navigation
.large-icon {
  @extend .icon-properties;
  font-size: 22px !important;
}
