@import "../../../../style/variables";
@import "../../../../style/typography";
.add-layer {
  background-color: $dark-5-dark;
}

.widgets-filters {
  .ant-select {
    &-selector {
      padding: 0px 8px 0px 0px !important;
    }
    &-selection-item {
      @extend .h6;
      @extend .regular;
      color: $dark-3-dark;
    }
  }
}
