@import "./../../style/variables";
.main-header {
  height: 72px;
  flex-shrink: 0;
  background-color: #fff;
}

.main-header-right {
  justify-content: end;
  align-items: center;
}

.header-search-input {
  width: 300px;
  height: 32px;
  border-style: none;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
