@import "./../../style/variables";
.sidebar-logo {
  display: flex;
  // justify-content: center;
  margin-left: 24px;
}

.sidebar-menu {
  .ant-menu-inline > .ant-menu-item {
    width: 225px !important;
  }
  .ant-menu-inline-collapsed > .ant-menu-item {
    // width: 130px !important;
  }
  .ant-menu {
    border: none !important;
    width: 100%;
    /* Headline/H4 Medium */
    color: $dark-1-dark !important;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &-item {
      height: 40px;
      border-radius: 12px;
      flex-shrink: 0;
      &-selected {
        background-color: $primary-color-light !important;
        color: $dark-1-dark !important;
        .anticon {
          color: $primary-color !important;
        }
      }
    }
    &-submenu {
      &-selected {
        color: $primary-color !important;
        .anticon {
          color: $primary-color !important;
        }
      }
      &-title {
        color: $dark-1-dark !important;
      }
      .ant-menu-item-selected {
        color: $primary-color !important;
      }
    }
  }

  .sidebar-bottom-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 24px;
    margin-left: 24px;
  }
}
